@use './../../../../styles.scss' as *;

header {
    @include flex-position($jc: space-between);
    height: 48px;

    img{
        height: 32px;
    }

    .login-btn {
        @include font-style($fw: 600);    
        padding: 22px;
    }
}