@use './../../../../styles.scss' as *;

header {
    @include flex-position($jc: space-between);
    height: 48px;

    img{
        height: 32px;
    }

    .videoflix-logo-small {
        height: clamp(2.125rem, 1.95rem + 0.875vw, 3rem);
    }

    .btn {
        @include font-style($fs: clamp(1rem, 0.975rem + 0.125vw, 1.125rem),$fw: 600);    
        padding: clamp(1.25rem, 1.225rem + 0.125vw, 1.375rem);
        
        span {
            @include flex-position();
            gap: 6px;
        }
    }

    mat-icon {
        @include flex-position();
        margin-top: 1px;
        font-size: 24px;
    }

    .arrow-back-icon {
        @include font-style($fs: 48px);
        width: 50px;
        height: 50px;
        cursor: pointer;
        
        &:hover {
            animation: left-animation 300ms ease-in-out forwards;
        }

        @keyframes left-animation {
            0% {
                transform: translateX(0%);
            }

            100% {
                transform: translateX(-50%);
            }
        }
    }
}