@use './../../../../styles.scss' as *;

footer {
    @include flex-position();
    gap: 48px;

    a {
        @include font-style($fw: 500);
        transition: 125ms;

        &:hover {
            color: $color-blue;
        }
    }
}