<div class="content">
    @if (formType === 'login') {
    <h1>Log in</h1>
    <form (ngSubmit)="submitLogInForm(form)" #form="ngForm">
        <label class="label-input">
            <input type="email" class="input-blue" placeholder="Email Address"
                pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" required [(ngModel)]="loginData.email"
                name="emailLogin" #emailLogin="ngModel">
            @if (emailLogin.invalid && emailLogin.touched || showError && emailLogin.invalid) {
            <span *ngIf="emailLogin.value?.length == 0 || !emailLogin.value" class="span-error"><mat-icon
                    fontIcon="warning"></mat-icon>The
                email address is required.</span>
            <span *ngIf="emailLogin.value?.length > 0" class="span-error"><mat-icon fontIcon="warning"></mat-icon>Please
                enter a valid email address.</span>
            }
        </label>
        <label class="input-blue password-wrapper">
            <input type="{{showPassword ? 'text' : 'password'}}" class="input-blue" placeholder="Password"
                [(ngModel)]="loginData.password" name="passwordLogin">
            <mat-icon (click)="togglePasswordVisibility('password')"
                fontIcon="{{ showPassword ? 'visibility_off' : 'visibility' }}"></mat-icon>
        </label>
        <button type="submit" mat-flat-button [disabled]="showLoadingSpinner">
            <mat-spinner *ngIf="showLoadingSpinner"></mat-spinner>
            <span *ngIf="!showLoadingSpinner">Log in</span>
        </button>
    </form>
    <a href="forgot-password">Forgot password?</a>
    <div class="sign-up-div">
        <p>New to Videoflix?</p>
        <a href="registration">Sign Up now</a>
    </div>
    } @else if (formType === 'signup') {
    <h1>Sign Up</h1>
    <form (ngSubmit)="submitForm(form, registrationEndpoint, registrationData, true)" #form="ngForm">
        <label class="label-input">
            <input type="email" class="input-blue" placeholder="Email Address"
                pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" required [(ngModel)]="registrationData.email"
                name="emailSignup" #emailSignup="ngModel">
            @if (emailSignup.invalid && emailSignup.touched || showError && emailSignup.invalid) {
            <span *ngIf="emailSignup.value?.length == 0 || !emailSignup.value" class="span-error"><mat-icon
                    fontIcon="warning"></mat-icon>The
                email address is required.</span>
            <span *ngIf="emailSignup.value?.length > 0" class="span-error"><mat-icon
                    fontIcon="warning"></mat-icon>Please
                enter a valid email address.</span>
            }
        </label>
        <label class="label-input">
            <div class="input-blue password-wrapper">
                <input type="{{showPassword ? 'text' : 'password'}}" class="input-blue" minlength="8" required
                    pattern="^(?!\d+$).+" placeholder="Enter a Password" [(ngModel)]="registrationData.password"
                    name="passwordSignup" #passwordSignup="ngModel">
                <mat-icon (click)="togglePasswordVisibility('password')"
                    fontIcon="{{ showPassword ? 'visibility_off' : 'visibility' }}"></mat-icon>
            </div>
            @if (passwordSignup.invalid && passwordSignup.touched || showError && passwordSignup.invalid) {
            <span *ngIf="passwordSignup.value?.length < 8 && passwordSignup.value?.length > 0"
                class="span-error"><mat-icon fontIcon="warning"></mat-icon>The
                password must be at least 8 characters long.</span>
            <span *ngIf="passwordSignup.value?.length == 0 || !passwordSignup.value" class="span-error"><mat-icon
                    fontIcon="warning"></mat-icon>Please
                enter a valid password.</span>
            <span *ngIf="passwordSignup.value?.length > 7 && onlyNumbers(passwordSignup.value)"
                class="span-error"><mat-icon fontIcon="warning"></mat-icon> The password must not contain only
                numbers.</span>
            }
        </label>
        <label class="label-input">
            <div class="input-blue password-wrapper">
                <input type="{{showRepeatedPassword ? 'text' : 'password'}}" class="input-blue"
                    placeholder="Confirm Password" [(ngModel)]="registrationData.repeated_password"
                    name="repeatedPasswordSignup" #repeatedPasswordSignup="ngModel" required>
                <mat-icon (click)="togglePasswordVisibility('confirm-password')"
                    fontIcon="{{ showRepeatedPassword ? 'visibility_off' : 'visibility' }}"></mat-icon>
            </div>
            @if (repeatedPasswordSignup.value != passwordSignup.value && repeatedPasswordSignup.touched ||
            showError && !repeatedPasswordSignup.value || repeatedPasswordSignup.touched &&
            !repeatedPasswordSignup.value) {
            <span *ngIf="repeatedPasswordSignup.value != passwordSignup.value || !repeatedPasswordSignup.value"
                class="span-error"><mat-icon fontIcon="warning"></mat-icon>Passwords must match.</span>
            }
        </label>
        <button type="submit" mat-flat-button [disabled]="showLoadingSpinner">
            <mat-spinner *ngIf="showLoadingSpinner"></mat-spinner>
            <span *ngIf="!showLoadingSpinner">Get Started</span>
        </button>
    </form>
    } @else if (formType === 'forgot-password') {
    <h1>Forgot your password?</h1>
    <p>We will send you an email with instructions to reset your password.</p>
    <form (submit)="submitForm(form, forgotPasswordEndpoint, forgotPasswordData)" #form="ngForm">
        <label class="label-input">
            <input type="email" class="input-blue" placeholder="Email Address"
                pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" required
                [(ngModel)]="forgotPasswordData.email" name="emailInput" #emailForgotPassword="ngModel">
            @if (emailForgotPassword.invalid && emailForgotPassword.touched || showError && emailForgotPassword.invalid)
            {
            <span *ngIf="emailForgotPassword.value?.length == 0 || !emailForgotPassword.value"
                class="span-error"><mat-icon fontIcon="warning"></mat-icon>The
                email address is required.</span>
            <span *ngIf="emailForgotPassword.value?.length > 0" class="span-error"><mat-icon
                    fontIcon="warning"></mat-icon>Please
                enter a valid email address.</span>
            }
        </label>
        <button type="submit" [disabled]="!emailForgotPassword.valid || showLoadingSpinner" mat-flat-button>
            <mat-spinner *ngIf="showLoadingSpinner"></mat-spinner>
            <span *ngIf="!showLoadingSpinner">Send Email</span>
        </button>
    </form>
    } @else if (formType === 'reset-password') {
    <h1>Reset password</h1>
    <p>Create a new password for your Videoflix account.</p>
    <form (submit)="submitForm(form, resetPasswordEndpoint, resetPasswordData)" #form="ngForm">
        <label class="label-input">
            <div class="input-blue password-wrapper">
                <input type="{{showPassword ? 'text' : 'password'}}" class="input-blue" placeholder="Enter a Password" pattern="^(?!\d+$).+" minlength="8" required
                    [(ngModel)]="resetPasswordData.password" name="password" #passwordResetPassword="ngModel">
                <mat-icon (click)="togglePasswordVisibility('password')"
                    fontIcon="{{ showPassword ? 'visibility_off' : 'visibility' }}"></mat-icon>
            </div>
            @if (passwordResetPassword.invalid && passwordResetPassword.touched || showError && passwordResetPassword.invalid) {
            <span *ngIf="passwordResetPassword.value?.length < 8 && passwordResetPassword.value?.length > 0"
                class="span-error"><mat-icon fontIcon="warning"></mat-icon>The
                password must be at least 8 characters long.</span>
            <span *ngIf="passwordResetPassword.value?.length == 0 || !passwordResetPassword.value" class="span-error"><mat-icon
                    fontIcon="warning"></mat-icon>Please
                enter a valid password.</span>
            <span *ngIf="passwordResetPassword.value?.length > 7 && onlyNumbers(passwordResetPassword.value)"
                class="span-error"><mat-icon fontIcon="warning"></mat-icon> The password must not contain only
                numbers.</span>
            }
        </label>
        <label class="label-input">
            <div class="input-blue password-wrapper">
                <input type="{{showRepeatedPassword ? 'text' : 'password'}}" class="input-blue"
                    placeholder="Confirm Password" [(ngModel)]="resetPasswordData.repeated_password" required minlength="8" #repeatedPasswordResetPassword="ngModel"
                    name="confirmPassword">
                <mat-icon (click)="togglePasswordVisibility('confirm-password')"
                    fontIcon="{{ showRepeatedPassword ? 'visibility_off' : 'visibility' }}"></mat-icon>
            </div>
            @if (repeatedPasswordResetPassword.value != passwordResetPassword.value && repeatedPasswordResetPassword.touched ||
            showError && !repeatedPasswordResetPassword.value || repeatedPasswordResetPassword.touched &&
            !repeatedPasswordResetPassword.value) {
            <span *ngIf="repeatedPasswordResetPassword.value != passwordResetPassword.value || !repeatedPasswordResetPassword.value"
                class="span-error"><mat-icon fontIcon="warning"></mat-icon>Passwords must match.</span>
            }
        </label>
        <button type="submit" mat-flat-button [disabled]="checkResetPasswords() || form.invalid || showLoadingSpinner">
            <mat-spinner *ngIf="showLoadingSpinner"></mat-spinner>
            <span *ngIf="!showLoadingSpinner">Get Started</span>
        </button>
    </form>
    }
</div>