@use './../../../../styles.scss' as *;

.content {
    @include flex-position($fd: column);
    background-color: #181818;
    border-radius: clamp(2.5rem, 2.4rem + 0.5vw, 3rem);
    width: 520px;
    gap: clamp(1.25rem, 1.1rem + 0.75vw, 2rem);
    padding: clamp(2rem, 1.8625rem + 0.6875vw, 2.6875rem) clamp(1.5rem, 1.1rem + 2vw, 3.5rem);

    h1 {
        @include font-style($fs: clamp(2.5rem, 2.4rem + 0.5vw, 3rem), $fw: 700);
        color: white;
    }

    p {
        @include font-style($fs: clamp(1rem, 0.975rem + 0.125vw, 1.125rem), $fw: 500);
        color: white;
    }

    a {
        @include font-style($fs: clamp(1rem, 0.975rem + 0.125vw, 1.125rem), $fw: 700);
        color: white;

        &:hover {
            text-decoration: underline;
        }
    }

    .sign-up-div {
        @include flex-position();
        gap: 24px;
    }
}

form {
    @include flex-position($fd: column);
    width: 100%;
    gap: 32px;

    input {
        width: 100%;

        &:-webkit-autofill {
            transition: background-color 9999s ease-in-out 0s;
            -webkit-text-fill-color: white;
        }
    }

    .password-wrapper {
        @include flex-position();
        width: 100%;
        border: 1px solid $color-blue;
        padding: 0;
        padding-right: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);

        input {
            border: none;
            padding-right: 0px;
        }

        mat-icon {
            color: $color-blue;
            cursor: pointer;
        }
    }

    button {
        @include font-style($fs: clamp(1rem, 0.975rem + 0.125vw, 1.125rem), $fw: 500);
        padding: 24px 28px;
        min-width: clamp(7.5rem, 7rem + 2.5vw, 10rem);
        min-height: clamp(0rem, -0.625rem + 3.125vw, 3.125rem);
    }
}

@media screen and (max-width: 600px) {
    .content {
        width: 100%;
    }
}