<section>
    <div class="background-video-div" >
        <video [ngStyle]="{'display': windowWidth > 1000 ? 'block' : 'none'}" #backgroundMovie width="100%" autoplay playsinline height="auto"></video>
        <div class="overlay-div"></div>
    </div>
    <app-header *ngIf="windowWidth <= 1000" [browse]="true"></app-header>
    <div class="preview">
        <app-header *ngIf="windowWidth > 1000" [browse]="true"></app-header>
        <div class="info-div" *ngIf="windowWidth > 1000">
            <div class="info-div-content">
                <h1>{{ randomMovie.title }}</h1>
                <p>{{ randomMovie.description }}</p>
                <button mat-flat-button (click)="navigateToWatchComponent()"><span><mat-icon
                            fontIcon="play_arrow"></mat-icon>{{checkIfContinueToMovie()}}</span></button>
            </div>
            <div>
                <mat-icon *ngIf="video" class="sound-icon" fontIcon="{{video.muted ? 'volume_off' : 'volume_up'}}"
                    (click)="toggleSoundOfMovie()"></mat-icon>
            </div>
        </div>
        <div class="movie-preview-mobile" *ngIf="windowWidth <= 1000">
            <img src="{{ randomMovie.movie_cover_phone }}" alt="Movie Cover">
            <h1>{{ randomMovie.title }}</h1>
            <p>{{ randomMovie.description }}</p>
            <button mat-flat-button (click)="navigateToWatchComponent()"><span><mat-icon
                        fontIcon="play_arrow"></mat-icon>{{checkIfContinueToMovie()}}</span></button>
        </div>
    </div>
    @for (category of continueWatching; track $index) {
    <app-category class="margin-top-category" (muteBackgroundVideo)="toggleSoundOfMovie($event)"
        [category]="category"></app-category>
    }
    @for (category of movieSections; track $index) {
    <app-category
        [ngClass]="{'margin-top-category': continueWatching.length > 0 && $index == 0 || !continueWatching.length }"
        (muteBackgroundVideo)="toggleSoundOfMovie($event)" [category]="category"></app-category>
    }
</section>