@use '@angular/material' as mat;

$color-blue: #2E3EDF;

@mixin flex-position($d: flex, $jc: center, $ai: center, $fd: row) {
    display: $d;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
}

@mixin font-style($fs: 18px, $fw: 400) {
    font-size: $fs;
    font-weight: $fw;
}

@mixin background-img($url: url()) {
    background: linear-gradient(180deg, #000000 -19.89%, rgba(0, 0, 0, 0.55) 40.46%, #000000 100%), $url;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

:root {
    @include mat.button-overrides((filled-container-color: $color-blue));
    @include mat.progress-spinner-overrides((active-indicator-color: white));
    @include mat.dialog-overrides((container-color: '#181818'));
}

::ng-deep .mat-mdc-dialog-surface {
    border-radius: 4px !important;
}

::ng-deep .cdk-overlay-pane.mat-mdc-dialog-panel {
    max-width: none !important;
    max-height: none !important;
}

html,
body {
    height: 100%;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

section {
    min-height: 100vh;
    width: 100%;
    padding: 40px 96px;
}

header,
footer {
    max-width: 1920px;
    width: 100%;
}

button {
    &:disabled {
        background-color: $color-blue !important;
        color: white !important;
        opacity: 0.5 !important;
    }

    mat-spinner {
        width: 20px !important;
        height: 20px !important;
    }
}

a {
    text-decoration: none;
}

input {
    background-color: transparent;
    border: 1px solid white;

    &:focus {
        outline: none;
    }

    &:-webkit-autofill {
        transition: background-color 9999s ease-in-out 0s;
        -webkit-text-fill-color: white;
    }
}

h1,
p,
a {
    text-align: center;
}

.input-blue {
    @include font-style($fs: 18px);
    border-color: $color-blue;
    color: $color-blue;
    border-radius: 12px;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
    gap: 10px;
    border-width: 1px;

    &::placeholder {
        @include font-style($fs: 18px);
        color: $color-blue;
    }
}

.span-error {
    @include flex-position($jc: flex-start);
    @include font-style($fs: 14px);
    position: absolute;
    color: red;

    mat-icon {
        @include flex-position();
        @include font-style($fs: 14px);
        color: red;
    }
}

.label-input {
    width: 100%;
}

.app-error-message {
    position: absolute;
    bottom: 25px;
    left: 25px;
    height: 80px;
    width: 540px;
    animation: left-to-right 250ms ease-in-out;

    @keyframes left-to-right {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(0);
        }
    }
}

mat-icon {
    @include flex-position();
    font-family: 'Material Icons' !important;
}

app-header,
app-footer {
    @include flex-position();
    width: 100%;
}

@font-face {
    font-display: swap;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 100;
    src: url('../public/fonts/dm-sans-v15-latin-100.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 200;
    src: url('../public/fonts/dm-sans-v15-latin-200.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../public/fonts/dm-sans-v15-latin-300.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../public/fonts/dm-sans-v15-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../public/fonts/dm-sans-v15-latin-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../public/fonts/dm-sans-v15-latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../public/fonts/dm-sans-v15-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 800;
    src: url('../public/fonts/dm-sans-v15-latin-800.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 900;
    src: url('../public/fonts/dm-sans-v15-latin-900.woff2') format('woff2');
}



// gesamte bar
.video-js .vjs-control-bar {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center;
    height: 200px !important;
    padding: 0 !important;
    background-color: transparent !important;
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: linear-gradient(0deg, #000000FF 2%, #00000000 99%);
}

.video-js .vjs-control {
    font-size: 20px !important;
    width: 60px;
    margin-top: 70px;
    /* Icons und Text größer */
}

.video-js .vjs-progress-control {
    margin-top: 131px !important;
}

.video-js .vjs-time-control {
    width: auto !important;
}

.vjs-modal-dialog .vjs-modal-dialog-content,
.video-js .vjs-modal-dialog,
.vjs-button>.vjs-icon-placeholder:before,
.video-js .vjs-big-play-button .vjs-icon-placeholder:before {
    position: static !important;
}

/* Fortschrittslinie (rot) */
.video-js .vjs-play-progress {
    background-color: $color-blue !important;
}

.video-js .vjs-play-progress::before {
    color: $color-blue !important;
  }

.video-js .vjs-volume-bar {
    margin-top: -43px !important;
}

.video-js .vjs-mute-control {
    margin-top: 0px !important;
}

.video-js .vjs-fullscreen-control, .video-js .vjs-picture-in-picture-control, .video-js .vjs-control, .video-js .vjs-volume-panel, .video-js .vjs-control  {
    height: 0;
}

/* Ladebalken (grau) */
.video-js .vjs-load-progress {
    background-color: rgba(255, 255, 255, 0.3);
}

/* Optional: Steuerleiste bleibt unten */
.video-js .vjs-control-bar {
    z-index: 10;
    padding-top: 10px;
}