@use '@angular/material' as mat;

$color-blue: #2E3EDF;

@mixin flex-position($d: flex, $jc: center, $ai: center, $fd: row) {
    display: $d;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
}

@mixin font-style($fs: 18px, $fw: 400) {
    font-size: $fs;
    font-weight: $fw;
}

@mixin background-img($url: url()) {
    background: linear-gradient(180deg, #000000 -19.89%, rgba(0, 0, 0, 0.55) 40.46%, #000000 100%), $url;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

:root {
    @include mat.button-overrides((filled-container-color: $color-blue));
    @include mat.progress-spinner-overrides((active-indicator-color: white));
    @include mat.dialog-overrides((container-color: '#181818'));
}

::ng-deep .mat-mdc-dialog-surface {
    border-radius: 4px !important;
}

::ng-deep .cdk-overlay-pane.mat-mdc-dialog-panel {
    max-width: none !important;
    max-height: none !important;
}

html,
body {
    height: 100%;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

section {
    min-height: 100vh;
    width: 100%;
    padding: clamp(0.75rem, 0.4rem + 1.75vw, 2.5rem) clamp(0.5rem, -0.6rem + 5.5vw, 6rem);
}

header,
footer {
    max-width: 1920px;
    width: 100%;
}

button {
    &:disabled {
        background-color: $color-blue !important;
        color: white !important;
        opacity: 0.5 !important;
    }

    mat-spinner {
        width: 20px !important;
        height: 20px !important;
    }
}

a {
    text-decoration: none;
}

input {
    background-color: transparent;
    border: 1px solid white;

    &:focus {
        outline: none;
    }

    &:-webkit-autofill {
        transition: background-color 9999s ease-in-out 0s;
        -webkit-text-fill-color: white;
    }
}

h1,
p,
a {
    text-align: center;
}

.input-blue {
    @include font-style($fs: clamp(1rem, 0.975rem + 0.125vw, 1.125rem));
    border-color: $color-blue;
    color: white;
    border-radius: 12px;
    padding: 12px clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
    gap: 10px;
    border-width: 1px;

    &::placeholder {
        @include font-style($fs: clamp(1rem, 0.975rem + 0.125vw, 1.125rem));
        color: white;
        opacity: 0.7;
    }
}

.app-error-message {
    position: absolute;
    bottom: clamp(1.5625rem, 0.8523rem + 1.8939vw, 3.125rem);
    left: clamp(1.5625rem, 0.8523rem + 1.8939vw, 3.125rem);
    z-index: 5;
}

.span-error {
    @include flex-position($jc: flex-start);
    @include font-style($fs: clamp(0.75rem, 0.6071rem + 0.7143vw, 0.875rem));
    position: absolute;
    color: red;

    mat-icon {
        @include flex-position();
        @include font-style($fs: 14px);
        color: red;
    }
}

.label-input {
    width: 100%;
    position: relative;
}

mat-icon {
    @include flex-position();
    font-family: 'Material Icons' !important;
}

app-header,
app-footer {
    @include flex-position();
    width: 100%;
}

.privacy-policy-legal-notice-section {
    background-size: 100% 100%;
    background-position: 0px 0px, 0px 0px;
    background-image: linear-gradient(315deg, #000000DB 0%, #0026BC00 99%), linear-gradient(135deg, #240039FF 0%, #001E84FF 100%);

    h1 {
        margin-top: clamp(0.75rem, 0.4rem + 1.75vw, 2.5rem);
        @include font-style($fs: clamp(2rem, 1.8rem + 1vw, 3rem), $fw: 700);
        text-align: start;
    }

    h2 {
        margin-top: clamp(1.25rem, 1rem + 1.25vw, 2.5rem);
        @include font-style($fs: clamp(1.25rem, 1.15rem + 0.5vw, 1.75rem), $fw: 700);
    }

    address {
        margin-top: clamp(0.625rem, 0.5rem + 0.625vw, 1.25rem);
        @include font-style($fs: clamp(0.875rem, 0.825rem + 0.25vw, 1.125rem), $fw: 400);
        text-decoration: none;
        font-style: normal;

        a {
            text-decoration: underline;
        }
    }

    p {
        margin-top: clamp(0.625rem, 0.5rem + 0.625vw, 1.25rem);
        @include font-style($fs: clamp(0.875rem, 0.825rem + 0.25vw, 1.125rem), $fw: 400);
        text-decoration: none;
        text-align: start;

        em {
            font-style: normal;
            color: $color-blue;
        }
    }

    ul {
        margin-top: 20px;
        @include font-style($fs: clamp(0.875rem, 0.825rem + 0.25vw, 1.125rem), $fw: 400);
        text-decoration: none;
        text-align: start;

        li {
            margin-top: 10px;
            @include font-style($fs: clamp(0.875rem, 0.825rem + 0.25vw, 1.125rem), $fw: 400);
            text-decoration: none;
            text-align: start;
        }
    }
}


.video-js .vjs-control-bar {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center;
    height: 199px !important;
    padding: 0 !important;
    background-color: transparent !important;
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: linear-gradient(0deg, #000000FF 2%, #00000000 99%);
}

.video-js .vjs-control {
    font-size: 20px !important;
    width: 60px;
    margin-top: 70px;
}

.video-js .vjs-progress-control {
    margin-top: 131px !important;
}

.video-js .vjs-time-control {
    width: auto !important;
}

.vjs-modal-dialog .vjs-modal-dialog-content,
.video-js .vjs-modal-dialog,
.vjs-button>.vjs-icon-placeholder:before,
.video-js .vjs-big-play-button .vjs-icon-placeholder:before {
    position: static !important;
}

.video-js .vjs-play-progress {
    background-color: $color-blue !important;
}

.video-js .vjs-play-progress::before {
    color: $color-blue !important;
}

.video-js .vjs-volume-bar {
    margin-top: -43px !important;
}

.video-js .vjs-time-tooltip,
.video-js .vjs-volume-horizontal .vjs-mouse-display {
    margin-top: 25px !important;
}

.video-js .vjs-mute-control {
    margin-top: 0px !important;
}

.video-js .vjs-fullscreen-control,
.video-js .vjs-picture-in-picture-control,
.video-js .vjs-control,
.video-js .vjs-volume-panel,
.video-js .vjs-control {
    height: 0;
}

.video-js .vjs-load-progress {
    background-color: rgba(255, 255, 255, 0.3);
}

.video-js .vjs-control-bar {
    z-index: 10;
    padding-top: 10px;
}

.vjs-fluid:not(.vjs-audio-only-mode) {
    padding-top: 0 !important;
    height: 100% !important;
}

.vjs_video_3-dimensions {
    width: 100% !important;
    height: 100% !important;
}

.vjs-tech {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 800px) {
    .video-js .vjs-control-bar {
        height: 70px !important;
        margin-top: 0px !important;
    }

    .video-js .vjs-control {
        font-size: 20px !important;
        width: 60px;
        margin-top: -62px;
    }

    .video-js .vjs-progress-control {
        margin-top: 0px !important;
    }
}


@media screen and (max-width: 600px) {
    .app-error-message {
        width: 100% !important;
        height: auto !important;
        bottom: 0 !important;
        left: 0 !important;
    }

    .cdk-overlay-pane.mat-mdc-dialog-panel {
        height: 100vh !important;
        max-width: none !important;
        max-height: none !important;
    }

    .mat-mdc-dialog-surface {
        border-radius: 0px !important;
    }
}

@media screen and (max-width: 500px) {
    label {
        width: 100%;
    }
}

@font-face {
    font-display: swap;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 100;
    src: url('../public/fonts/dm-sans-v15-latin-100.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 200;
    src: url('../public/fonts/dm-sans-v15-latin-200.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../public/fonts/dm-sans-v15-latin-300.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../public/fonts/dm-sans-v15-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../public/fonts/dm-sans-v15-latin-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../public/fonts/dm-sans-v15-latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../public/fonts/dm-sans-v15-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 800;
    src: url('../public/fonts/dm-sans-v15-latin-800.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 900;
    src: url('../public/fonts/dm-sans-v15-latin-900.woff2') format('woff2');
}